<%- include('../header') %>
    <div class="row-sm-8">
        <div>
            <a type="button" class="btn btn-primary" href="/getAllLanguages">Go back</a>
        </div>
    </div>
    <br>
    The language ID is : <%= languages.JEZ_JEZIK %>
    <form method="post" action="/editLanguageById/<%= languages.JEZ_JEZIK %>">
        <div class="form-group">
            <!-- <label for="languageId">Language ID</label> -->
            <input type="hidden" class="form-control" id="languageId" name="languageId" value="<%= languages.JEZ_JEZIK %>" >
        </div>
        <div class="form-group">
            <label for="languageName">Language</label>
            <input type="text" class="form-control" id="languageName" name="languageName" value="<%= languages.JEZ_NAZIV %>">
        </div>
        
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
<%- include('../footer') %>