<%- include('../header') %>

    <% if (languages.length === 0) { %>
        <br>
        <div class="alert alert-info" role="alert">
            <p>There are no languages to show, click <a href="/addLanguage">here</a> to add a new language.</p>    
        </div>
        <br>
    <% } else { %>
        <br>
        <a type="button" class="btn btn-primary" href="/addLanguage">Add new language</a>
        <br><br>
        <table class="table table-responsive-xl table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Language ID</th>
                    <th scope="col">Language Name</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
                <% languages.forEach(function(language, index) { %>
                <tr>
                    <td><strong><%= index+1 %></strong></td>
                    <td><%= language.JEZ_JEZIK %></td>
                    <td><%= language.JEZ_NAZIV %></td>
                    <td><a type="button" class="btn btn-warning" href="/editLanguageById/<%= language.JEZ_NAZIV %>">Edit</a></td>
                    <td><a type="button" class="btn btn-danger" onClick="return confirm('Are you sure you want to delete this language?');" href="/deleteLanguageById/<%= language.JEZ_NAZIV %>">Delete</a></td>
                </tr>
                <% }); %>
            </tbody>
        </table>
    <% } %>

<%- include('../footer') %>