<%- include('../header') %>

    <% if (languages.length === 0) { %>
        <br>
        <div class="alert alert-info" role="alert">
            <p>There are no languages to show, click <a href="/addLanguage">here</a> to add a new language.</p>    
        </div>
        <br>
    <% } else { %>
        <h2 class="mb-4">Language</h2>

        <div class="row-sm-8">
            <div>
                <a type="button" class="btn btn-primary" href="/addLanguage">Add</a>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editModalCenter">Edit</button>
                <button type="button" class="btn btn-primary btn-danger" data-toggle="modal" data-target="#deleteModalCenter">Delete</button>
                <a type="button" class="btn btn-primary" href="/getLanguageDocument">Generate Document</a>
            </div>
        </div>
    
    
    <!-- Modal -->
        <div class="modal fade" id="editModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Edit</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    <p style="color:black;">Kindly enter the Language Id of the data you wish to edit. For example "CAN" for Canada.</p>
                    <input type="text" placeholder="CAN" id="EditLanguageInput">
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="redirectToEditLanguagePage();">Edit Now</button>
                </div>
            </div>
            </div>
        </div>
    
        <div class="modal fade" id="deleteModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Delete</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    <p style="color:black;">Kindly enter the Language Id of the data you wish to delete. For example "CAN" for Canada.</p>
                    <input type="text" placeholder="CAN" id="DeleteLanguageInput">
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="redirectToDeleteLanguagePage();">Delete Now</button>
                </div>
            </div>
            </div>
        </div>
    </br>
         
        <div class="row-sm-8">
            <div class="table-responsive-xl table-hover">  
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Language ID</th>
                            <th scope="col">Language Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% languages.forEach(function(language, index) { %>
                        <tr>
                            <td><strong><%= index+1 %></strong></td>
                            <td><%= language.JEZ_JEZIK %></td>
                            <td><%= language.JEZ_NAZIV %></td>
                        </tr>
                        <% }); %>
                    </tbody>
                </table>
            </div>
        </div>
    <% } %>

<%- include('../footer') %>