<%- include('../header') %>
    <br>    
    <h2>Institute Type Document</h2>
    <br>
    <div class="row-sm-8">
        <div>
            <a type="button" class="btn btn-primary" href="/getAllInstituteType">Go back</a>
        </div>
    </div>
    <br>
    <div id="accordion">
        <% documents.forEach(function(document, index) { %>
        <div class="card">
            <div class="card-header" id="<%= document._id %>">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapse-<%= document._id %>" aria-expanded="true" aria-controls="collapse-<%= document._id %>">
                        <strong>document <%= index+1 %> - Created at: <%= document.created_at %></strong>
                    </button>
                </h5>
            </div>
      
            <div id="collapse-<%= document._id %>" class="collapse" aria-labelledby="<%= document._id %>" data-parent="#accordion">
                <div class="card-body">
                    <pre><%= JSON.stringify(document, null, 4); %></pre>
                </div>
            </div>
        </div>
        <% }); %>
    </div>
    
<%- include('../footer') %>