<%- include('../header') %>
    
    <% if (ownershipType.length === 0) { %>
        <br>
        <div class="alert alert-info" role="alert">
            <p>There are no ownership type to show, click <a href="/addOwnershipType">here</a> to add a new ownership type.</p>    
        </div>
        <br>
    <% } else { %>
        <h2 class="mb-4">Ownership Type</h2>

        <div class="row-sm-8">
            <div>
                <a type="button" class="btn btn-primary" href="/addOwnershipType">Add Ownership Type</a>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editModalCenter">Edit</button>
                    <button type="button" class="btn btn-primary btn-danger" data-toggle="modal" data-target="#deleteModalCenter">Delete</button>
                    <a type="button" class="btn btn-primary" href="/generateOwnershipTypeDocument">Generate Document</a>
                </div>
            </div>
        
        
        <!-- Modal -->
            <div class="modal fade" id="editModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Edit</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body">
                        <p style="color:black;">Kindly enter the  Ownership Type Id of the data you wish to edit. For example "PR" for Private</p>
                        <input type="text" placeholder="PR" id="EditOwnershipInput">
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="redirectToEditOwnershipPage();">Edit Now</button>
                    </div>
                </div>
                </div>
            </div>
        
            <div class="modal fade" id="deleteModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Delete</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body">
                        <p style="color:black;">Kindly enter the Ownership Type Id of the data you wish to delete. For example "PR" for Private</p>
                        <input type="text" placeholder="PR" id="DeleteOwnershipInput">
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="redirectToDeleteOwnershipPage();">Delete Now</button>
                    </div>
                </div>
                </div>
            </div>
        </br>

        <div class="row-sm-8">
            <div class="table-responsive-xl table-hover">  
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Type</th>
                            <th scope="col">Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% ownershipType.forEach(function(ownershipType, index) { %>
                        <tr> 
                            <td><strong><%= index+1 %></strong></td>
                            <td><%= ownershipType.VV_OZNAKA %></td>
                            <td><%= ownershipType.VV_NAZIV %></td> 
                        </tr>
                        <% }); %>
                    </tbody>
                </table>
            </div>
        </div>
    <% } %>

<%- include('../footer') %>