<%- include('../header') %>
    
    <% if (ownershipType.length === 0) { %>
        <br>
        <div class="alert alert-info" role="alert">
            <p>There are no ownership type to show, click <a href="/addOwnershipType">here</a> to add a new ownership type.</p>    
        </div>
        <br>
    <% } else { %>
        <h2 class="mb-4">Ownership Type</h2>

        <div class="row-sm-8">
            <div>
                <a type="button" class="btn btn-primary" href="/addOwnershipType">Add Ownership Type</a>
            </div>
        </div>
        <br>

        <div class="row-sm-8">
            <div class="table-responsive-xl table-hover">  
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Type</th>
                            <th scope="col">Name</th>
                            <th scope="col">Edit</th>
                            <th scope="col">Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% ownershipType.forEach(function(ownershipType, index) { %>
                        <tr> 
                            <td><strong><%= index+1 %></strong></td>
                            <td><%= ownershipType.VV_OZNAKA %></td>
                            <td><%= ownershipType.VV_NAZIV %></td> 
                            <td><a type="button" class="btn btn-warning" href="/editOwnershipTypeById/<%= ownershipType.VV_OZNAKA %>">Edit</a></td>
                            <td><a type="button" class="btn btn-danger" onClick="return confirm('Are you sure you want to delete this Institute Type?');" href="/deleteOwnershipTypeById/<%= ownershipType.VV_OZNAKA %>">Delete</a></td>
                        </tr>
                        <% }); %>
                    </tbody>
                </table>
            </div>
        </div>
    <% } %>

<%- include('../footer') %>