<%- include('../header') %>
    
    <% if (heis.length === 0) { %>
        <br>
        <div class="alert alert-info" role="alert">
            <p>There are no high education institute to show, click <a href="/addHighEducationInstitute">here</a> to add a new language.</p>    
        </div>
        <br>
    <% } else { %>
        <h2 class="mb-4">High Education Institute</h2>

        <div class="row-sm-8">
            <div>
                <a type="button" class="btn btn-primary" href="/addHighEducationInstitute">Add High Education Institute</a>
            </div>
        </div>
        <br>

        <div class="row-sm-8">
            <div class="table-responsive-xl table-hover">  
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Type</th>
                            <th scope="col">Id</th>
                            <th scope="col">Name</th>
                            <th scope="col">State Id</th>
                            <th scope="col">Ownership Id</th>
                            <th scope="col">Edit</th>
                            <th scope="col">Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% heis.forEach(function(hei, index) { %>
                        <tr> 
                            <td><strong><%= index+1 %></strong></td>
                            <td><%= hei.TIP_UST %></td>
                            <td><%= hei.VU_IDENTIFIKATOR %></td>
                            <td><%= hei.VU_NAZIV %></td>
                            <td><%= hei.DR_IDENTIFIKATOR %></td>
                            <td><%= hei.VV_OZNAKA %></td>
                            <td><a type="button" class="btn btn-warning" href="/editHighEducationInstituteById/<%= hei.VU_NAZIV %>">Edit</a></td>
                            <td><a type="button" class="btn btn-danger" onClick="return confirm('Are you sure you want to delete this High Education Institute?');" href="/deleteHighEducationInstituteById/<%= hei.VU_NAZIV %>">Delete</a></td>
                        </tr>
                        <% }); %>
                    </tbody>
                </table>
            </div>
        </div>
    <% } %>

<%- include('../footer') %>