<%- include('../header') %>
    
    <% if (heis.length === 0) { %>
        <br>
        <div class="alert alert-info" role="alert">
            <p>There are no high education institute to show, click <a href="/addHighEducationInstitute">here</a> to add a new language.</p>    
        </div>
        <br>
    <% } else { %>
        <h2 class="mb-4">High Education Institute</h2>

        <div class="row-sm-8">
            <div>
                <a type="button" class="btn btn-primary" href="/addHighEducationInstitute">Add</a>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editModalCenter">Edit</button>
                <button type="button" class="btn btn-primary btn-danger" data-toggle="modal" data-target="#deleteModalCenter">Delete</button>
                <a type="button" class="btn btn-primary" href="/generateHighEducationInstituteDocument">Generate Document</a>
            </div>
        </div>
    
    
    <!-- Modal -->
        <div class="modal fade" id="editModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Edit</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    <p style="color:black;">Kindly enter the Language Id of the data you wish to edit. For example 1.</p>
                    <input type="text" placeholder="1" id="EditHEIInput">
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="redirectToEditHEIPage();">Edit Now</button>
                </div>
            </div>
            </div>
        </div>
    
        <div class="modal fade" id="deleteModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Delete</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    <p style="color:black;">Kindly enter the Language Id of the data you wish to delete. For example 1.</p>
                    <input type="text" placeholder="1" id="DeleteHEIInput">
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="redirectToDeleteHEIPage();">Delete Now</button>
                </div>
            </div>
            </div>
        </div>
    </br>

        <div class="row-sm-8">
            <div class="table-responsive-xl table-hover">  
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Type</th>
                            <th scope="col">Id</th>
                            <th scope="col">Name</th>
                            <th scope="col">State Id</th>
                            <th scope="col">Ownership Id</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% heis.forEach(function(hei, index) { %>
                        <tr> 
                            <td><strong><%= index+1 %></strong></td>
                            <td><%= hei.TIP_UST %></td>
                            <td><%= hei.VU_IDENTIFIKATOR %></td>
                            <td><%= hei.VU_NAZIV %></td>
                            <td><%= hei.DR_IDENTIFIKATOR %></td>
                            <td><%= hei.VV_OZNAKA %></td>
                        </tr>
                        <% }); %>
                    </tbody>
                </table>
            </div>
        </div>
    <% } %>

<%- include('../footer') %>