<%- include('../header') %>
    <div class="row-sm-8">
        <div>
            <a type="button" class="btn btn-primary" href="/getAllStates">Go back</a>
        </div>
    </div>
    <br>
    <form method="post" action="/editStateById/<%= state.DR_IDENTIFIKATOR %>">
        <div class="form-group">
            <label"  id="stateId" name="stateId">State ID : <%= state.DR_IDENTIFIKATOR %></label>
            <input type="hidden" class="form-control" id="stateId" name="stateId" value="<%= state.DR_IDENTIFIKATOR %>">
        </div>
        <div class="form-group">
            <label>State name</label>
            <input type="text" class="form-control" id="stateName" name="stateName" value="<%= state.DR_NAZIV %>">
        </div>
        <div class="form-group">
            <label>Foundation Date</label>
            <input type="text" class="form-control" id="stateFoundationDate" name="stateFoundationDate" value="<%= state.DR_DATUM_OSNIVANJA %>">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

<%- include('../footer') %>