<%- include('../header') %>
    
<% if (states.length === 0) { %>
    <div class="alert alert-info" role="alert">
        <p>There are no states to show, click <a href="/addState">here</a> to add a new state.</p>    
    </div>
<% } else { %>

    <h2 class="mb-4">States</h2>

    <div class="row-sm-8">
        <div>
            <a type="button" class="btn btn-primary" href="/addState">Add</a>
                <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editModalCenter">Edit</button>
            <button type="button" class="btn btn-primary btn-danger" data-toggle="modal" data-target="#deleteModalCenter">Delete</button>
            <a type="button" class="btn btn-primary" href="/generateStateDocument">Generate Document</a>
        </div>
    </div>

  
  <!-- Modal -->
    <div class="modal fade" id="editModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Edit</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <p style="color:black;">Kindly enter the State Id of the data you wish to edit. For example "CAN" for Canada.</p>
                <input type="text" placeholder="CAN" id="EditStateInput">
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" onclick="redirectToEditStatePage();">Edit Now</button>
            </div>
        </div>
        </div>
    </div>

    <div class="modal fade" id="deleteModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Delete</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <p style="color:black;">Kindly enter the State Id of the data you wish to delete. For example "CAN" for Canada</p>
                <input type="text" placeholder="CAN" id="DeleteStateInput">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" onclick="redirectToDeleteStatePage();">Delete Now</button>
            </div>
          </div>
        </div>
      </div>

    <br>
    <div class="row-sm-8">
        <div class="table-responsive-xl table-hover">  
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">State ID</th>
                        <th scope="col">State Name</th>
                        <th scope="col">Foundation Date</th>
                    </tr>
                </thead>
                <tbody>
                    <% states.forEach(function(state, index) { %>
                    <tr>
                        <td><strong><%= index+1 %></strong></td>
                        <td><%= state.DR_IDENTIFIKATOR %></td>
                        <td><%= state.DR_NAZIV %></td>
                        <td><%= state.DR_DATUM_OSNIVANJA %></td>
                    </tr>
                    <% }); %>
                </tbody>
            </table>
        </div>
    </div>

<% } %>

<%- include('../footer') %>